:root {
    --main-color : #20c997;
    --section-padding : 72px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
.container {
    margin: 0 auto;
}

html{
    scroll-behavior: smooth;    
}

body {
    font-family: 'Poppins', sans-serif;
}

ul{
    list-style-type: none;
}

a {
    text-decoration: none;
}

::selection {
    background: var(--main-color);
    color: #fff;
    text-shadow: none;
}
/* start headings */
.headings {
    text-align: center;
    position: relative;
    margin-bottom: 3rem;
}
.headings h2 {
    color: #dee3e4;
    opacity: .4;
    font-weight: 600;
    font-size: calc(.95rem + 8.4vw);
}
.headings::after{
    content: "";
    width: 80px;
    height: 3px;
    background-color: var(--main-color);
    position: absolute;
    left: 50%;
    top: 63%;
    transform: translate(-50%,-50%); 
}
.p-heading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 2.2rem;
    font-weight: 600;
    color: #212529;
    z-index: 5;
}
/* end headings */

/* small */
@media (max-width: 767px) {
    .container {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}


/* start home */
#home {
    height: 100vh;
    background-image: url(../images/intro-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
#home .layout {
    width: 100%;
    height: 100%;
    background-color: #111418;
    opacity: .8;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#home .content{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0 24px;
}

#home nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

#home nav>div:last-of-type{
    visibility: hidden;
    align-items: center;
}
#home nav .links{  
    width: 50%;
    display: flex;
    align-items: center;
}
#home nav .links-layer {
    width: 20px;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 5px;
}
#home nav .links-layer div {
    width: 24px;
    height: 2px;
    background-color: #fff;
    border-radius: 2px;
}
@media (min-width: 768px) {
    #home nav .links-layer {
        display: none;
    }
}

#home nav .links ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
@media (max-width: 767px){
    #home nav .links ul{
        display: none;
    }
    #home nav .links {
        justify-content: flex-end;
    }
    #home nav .links .links-layer:hover + ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: rgba(0, 0, 0, .9);
    }
    #home nav .links .links-layer:hover + ul li {
        margin: 0 .5rem;
        padding: .5rem 0;
        border-bottom: 1px #ccc solid;
    }
    #home nav .links .links-layer:hover + ul li:last-child {
        border: none;
    }
}
#home nav .links ul li a {
    color: white;
    transition: all .5s ease-in-out;
}
#home nav .links ul li a:hover{
    color: var(--main-color);
}
#home nav .links ul li:first-child a {
    color: var(--main-color);
}
#home .caption {
    text-align: center;
}

#home .caption p:first-of-type{
    font-weight: 500;
    font-size: 1.75rem;
    line-height: 1.8;
}
#home .caption h1 {
    font-size: calc(1.525rem + 3.3vw);
    margin: 1rem 0;
    line-height: 1.3;
    font-weight: 600;
}
#home .caption h1::after{
    content: "|";
    animation-name: move;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}
@keyframes move {
    0%{content:" I|"}
    1%{content:" I'|"}
    2%{content:" I'm|"}
    3%{content:" I'm |"}
    4%{content:" I'm M|"}
    5%{content:" I'm Mo|"}
    6%{content:" I'm Moha|"}
    7%{content:" I'm Moham|"}
    8%{content:" I'm Mohame|"}
    9%{content:" I'm Mohamed|"}
    10%{content:" I'm Mohamed S|"}
    11%{content:" I'm Mohamed Sa|"}
    12%{content:" I'm Mohamed Sam|"}
    13%{content:" I'm Mohamed Samy|"}
    14%{content:" I'm Mohamed Samy Sa|"}
    15%{content:" I'm Mohamed Samy Say|"}
    16%{content:" I'm Mohamed Samy Sayed|"}
    18%{content:" I'm Mohamed Samy Sayed|"}
    19%{content:" I'm Mohamed Samy Say|"}
    20%{content:" I'm Mohamed Samy Sa|"}
    21%{content:" I'm Mohamed Samy S|"}
    22%{content:" I'm Mohamed Samy|"}
    23%{content:" I'm Mohamed Sam|"}
    24%{content:" I'm Mohamed Sa|"}
    25%{content:" I'm Mohamed S|"}
    26%{content:" I'm Moham|"}
    27%{content:" I'm Moha|"}
    28%{content:" I'm Moh|"}
    29%{content:" I'm Mo|"}
    30%{content:" I'm M|"}
    31%{content:" I'm |"}
    32%{content:" I'm a |"}
    33%{content:" I'm a F|"}
    34%{content:" I'm a Fu|"}
    35%{content:" I'm a Full |"}
    36%{content:" I'm a Full S|"}
    37%{content:" I'm a Full St|"}
    38%{content:" I'm a Full Sta|"}
    39%{content:" I'm a Full Stac |"}
    40%{content:" I'm a Full Stack|"}
    41%{content:" I'm a Full Stack D|"}
    42%{content:" I'm a Full Stack De|"}
    43%{content:" I'm a Full Stack Dev|"}
    45%{content:" I'm a Full Stack Deve|"}
    46%{content:" I'm a Full Stack Devel|"}
    47%{content:" I'm a Full Stack Develo|"}
    48%{content:" I'm a Full Stack Develop|"}
    49%{content:" I'm a Full Stack Develope|"}
    50%{content:" I'm a Full Stack Developer|"}
    51%{content:" I'm a Full Stack Developer.|"}
    52%{content:" I'm a Full Stack Developer|"}
    53%{content:" I'm a Full Stack Develope|"}
    54%{content:" I'm a Full Stack Develop|"}
    55%{content:" I'm a Full Stack Develo|"}
    56%{content:" I'm a Full Stack Devel|"}
    57%{content:" I'm a Full Stack Deve|"}
    58%{content:" I'm a Full Stack Dev|"}
    59%{content:" I'm a Full Stack De|"}
    60%{content:" I'm a Full Stack D|"}
    61%{content:" I'm a Full Stack |"}
    62%{content:" I'm a Full Stac|"}
    63%{content:" I'm a Full Sta|"}
    64%{content:" I'm a Full St|"}
    65%{content:" I'm a Full S|"}
    66%{content:" I'm a Full |"}
    67%{content:" I'm a Ful|"}
    68%{content:" I'm a Fu|"}
    69%{content:" I'm a F|"}
    71%{content:" I'm a |"}
    72%{content:" I'm a W|"}
    73%{content:" I'm a We|"}
    74%{content:" I'm a Web|"}
    75%{content:" I'm a Web D|"}
    76%{content:" I'm a Web De|"}
    77%{content:" I'm a Web Dev|"}
    78%{content:" I'm a Web Deve|"}
    79%{content:" I'm a Web Devel|"}
    80%{content:" I'm a Web Develo|"}
    81%{content:" I'm a Web Develop|"}
    82%{content:" I'm a Web Developer.|"}
    83%{content:" I'm a Web Developer|"}
    84%{content:" I'm a Web Develope|"}
    85%{content:" I'm a Web Develop|"}
    86%{content:" I'm a Web Develo|"}
    87%{content:" I'm a Web Devel|"}
    88%{content:" I'm a Web Deve|"}
    89%{content:" I'm a Web Dev|"}
    90%{content:" I'm a Web De|"}
    91%{content:" I'm a Web D|"}
    92%{content:" I'm a Web |"}
    93%{content:" I'm a We|"}
    95%{content:" I'm a W|"}
    96%{content:" I'm a |"}
    97%{content:" I'm a|"}
    98%{content:" I'm a |"}
    99%{content:" I'm|"}
    100%{content: "|";}
}
#home .caption p:last-of-type{
    color: #dee3e4;
    font-size: 1.3125rem;
    margin-bottom: 1.5rem;
}
#home .caption>a {
    display: inline-block;
    background-color: transparent;
    border: 2px solid var(--main-color);
    padding: .8rem 2.6rem;
    border-radius: 50rem;
    margin-top: .5rem;
    color: var(--main-color);
    font-weight: 500;
    transition: all .5s ease-in-out;
}
#home .caption a:hover{
    background-color: var(--main-color);
    color: white;
}
#home .colors-button button{
    position: fixed;
    top: 35%;
    right: 0;
    background-color: #555;
    border: 2px solid #555;
    width: 40px;
    height: 40px;
    border-radius: 4px 0px 0px 4px;;
    font-size: 1.25rem;
    cursor: pointer;
}
#home .colors-button i {
    color: white;
    font-weight: 900;
}
#home .arrow {
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -16px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 20px;
    text-align: center;
    animation-name: arrowmove;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
#home .arrow a {
    color: white;
}
@keyframes arrowmove {
    from{bottom: 60px; opacity: .1;}
    to{bottom: 20px; opacity: 1;}
}
/* end home */
/* start about */
#about {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
#about .about-content {
    display: flex;
}
#about .about-content .text {
    width: 65%;
    padding: 0 12px;
}
#about .about-content .text h2 {
    font-size: 1.75rem;
    font-weight: 600;
    color: #252b33;
    margin-bottom: 1rem;
}
#about .about-content .text h2 span {
    color: var(--main-color);
}
#about .about-content .text p {
    color: #4c4d4d;
    line-height: 1.8;
    margin-bottom: 1rem;
}
#about .about-content .data {
    width: 35%;
    padding: 0 12px;
}
#about .about-content .data .data-content {
    padding-left: 1.5rem;
}
#about .about-content .data .data-content ul {
    margin-bottom: 1rem;
}
#about .about-content .data .data-content ul li{
    border-bottom: 1px solid #eaeaea;
    padding-top: 12px;
    padding-bottom: 12px;
}
#about .about-content .data .data-content ul li:last-child{
    border: none;
}
#about .about-content .data .data-content ul li span {
    margin-right: .5rem;
    font-weight: 600;
}
#about .about-content .data .data-content ul li a{
    color: var(--main-color);
    transition: all .3s ease;
}
#about .about-content .data .data-content ul li a:hover{
    color: #078f68;
}
#about .about-content .data .data-content>a{
    display: inline-block;
    background-color: var(--main-color);
    padding: 0.8rem 2.6rem;
    font-weight: 500;
    border-width: 2px;
    transition: all 0.5s ease;
    border-radius: 50rem;
    color: white;
}
#about .about-content .data .data-content>a:hover{
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 15%);
    background-color: #078f68;
}
#about .feedback{
    display: flex;
}
#about .feedback .column{
    width: 25%;
    text-align: center;
    margin-top: 2rem;
}
#about .feedback .column .box-content {
    padding: 1rem;
    border-right: 1px dotted #e0dede;
}
#about .feedback .column:last-child .box-content{
    border: none;
}
#about .feedback .column .box-content h4{
    font-size: 2.7rem;
    color: #6c757d;
    font-weight: 500;
}
#about .feedback .column .box-content p{
    color: #4c4d4d;
}
@media (max-width: 992px){
    #about .about-content {
        flex-wrap: wrap;

    }
    #about .about-content .text {
        width: 100%;
        text-align: center;
    }
    #about .about-content .data {
        width: 100%;
    }
}
@media (max-width: 768px) {
    #about .feedback{
        flex-wrap: wrap;
    }
    #about .feedback .column{
        width: 50%;
    }
}

@media (max-width: 552px) {
    #about .feedback{
        flex-wrap: wrap;
    }
    #about .feedback .column{
        width: 100%;
    }
    #about .about-content {
        text-align: center;
    }
}
/* end about */
/* start services */
#services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: #f8f9fa;
}
#services .services-content{
    display: flex;
    flex-wrap: wrap;
    margin: 0 2.2rem;
    padding: 0 .7rem;
}
#services .services-content .serv{
    width: 50%;
    display: flex;
    padding: 0 .7rem;
    margin-bottom: 3rem;
}
#services .services-content .serv .icon{
    min-width: 70px;
    height: 70px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.25rem;
    margin-right: 1rem;
}
#services .services-content .serv .icon i {
    font-size: 30px;
    color: var(--main-color);
}
#services .services-content .serv .text h4 {
    font-size: 1.25rem;
    margin-bottom: 10px;
    font-weight: 500;
    color: #252b33;
}
#services .services-content .serv .text p {
    line-height: 1.8;
    color: #4c4d4d;
}
@media (max-width: 768px){
    #services .services-content .serv {
        width: 100%;
    }
}
/* end services */
/* start summary */
#summary {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
#summary .row {
    display: flex;
}
#summary .row .eduction {
    padding: 0 1.5rem;
}
#summary .row .experience{
    padding: 0 1.5rem;
}
#summary .row h2,
#summary .skills h2 {
    color: #252b33;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}
#summary .row .phase {
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    border: 1px solid #dee2e6;
}
#summary .row .phase p:first-child {
    display: inline-block;
    background-color: var(--main-color);
    padding: 1px 10px;
    font-size: .875rem;
    font-weight: 400;
    border-radius: 4px;
    color: white;
    margin-bottom: .5rem;
}
#summary .row .phase h3 {
    font-size: 1.3125rem;
    color: #252b33;
    font-weight: 500;
    margin-bottom: .5rem;
}
#summary .row .phase p:nth-child(3){
    color: #dc3545;
    margin-bottom: 1rem;
}
#summary .row .phase p:last-child{
    color: #4c4d4d;
}
#summary .skills h2 {
    padding-left: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0;
}
#summary .skills .row {
    display: flex;
    width: 100%;
}
#summary .skills .row .column {
    width: 50%;
    padding: 1.5rem;
}
#summary .skills .row .column .description{
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
    font-weight: 500;
}
progress {
    border-radius: 7px; 
    width: 100%;
    height: .5rem;
    margin-bottom: 1.5rem;
}
progress::-webkit-progress-bar {
    background-color: #e7ebee;
    border-radius: 7px;
}
progress::-webkit-progress-value {
    background-color: var(--main-color);
    border-radius: 7px;
}
#summary button {
    display: block;
}
#summary a{
    display: block;
    width: fit-content;
    color: #6c757d;
    padding: .8rem 2.6rem;
    margin: 3rem auto;
    border-radius: 50rem;
    background-color: white;
    transition: all 0.5s ease;
    font-weight: 700;
    border: 2px #6c757d solid;
}
#summary a:hover{
    color: white;
    background-color: #6c757d;
}
@media (max-width: 768px){
    #summary .row {
        flex-wrap: wrap;
    }
    #summary .row .eduction {
        width: 100%;
    }
    #summary .row .experience {
        width: 100%;
    }
    #summary .skills .row .column {
        width: 100%;
    }
}
/* end summary */
/* start portfolio */
#portfolio{
    padding: var(--section-padding) 0;
    background-color: #f8f9fa;
}
#portfolio .categories {
    margin-bottom: 2rem;
}
#portfolio .categories ul {
    display: flex;
    justify-content: center;
}
#portfolio .categories ul li a:hover{
    color: var(--main-color);
}
#portfolio .categories ul li a {
    color: #7b8084;
    display: block;
    padding: 0.6rem 1rem;
    transition: all .3s ease-in-out;
}
#portfolio .categories ul li:first-child {
    border-bottom: var(--main-color) solid 2px; 
}
#portfolio .categories ul li:first-child a {
    color: var(--main-color);
}
#portfolio .coolumn {
    padding: 0 .8rem;
}
#portfolio .projects {
    display: flex;
} 
#portfolio .image{
    width: 100%;
    position: relative;
    overflow: hidden;
}
#portfolio .image img {
    width: 100%;
    border-radius: 4px;
    transition: all .3s ease-in-out;
}
#portfolio .layer {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, .7);
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-content: center;
    transition: all .3s ease-in-out;
}
#portfolio .image:hover .layer{
    opacity: 1;
}
#portfolio .image:hover img {
    transform: scale(1.1);
    filter: blur(2px);
}
#portfolio .layer h4 {
    width: 100%;
    font-size: 1.2rem;
    font-weight: 400;
}
#portfolio .layer p {
    width: 100%;
    font-weight: 400;
}

@media (max-width: 567px){
    #portfolio .projects {
        flex-wrap: wrap;
    }
}
/* end portfolio */
/* start client speak */
#client {
    padding: var(--section-padding) 0;
}
#client .row {
    display: flex;
    justify-content: space-between;
}
#client .row .info {
    display: flex;
    margin-bottom: 1.5rem;
}
#client .content {
    background-color: #f8f9fa;
    padding: 3rem;
    width: calc( (100% / 2) - 1rem);
}
#client .row .info img {
    border-radius: 50%;
    margin-right: 1rem;
}
#client .row .info h3 {
    color: #212529;
    font-weight: 600;
}
#client .row .info p {
    color: #6c757d;
    font-weight: 500;
}
#client .content p{
    color: #212529;
    margin-bottom: 1.5rem;
    line-height: 1.7;
    font-weight: 500;
}
#client i {
    color: #ffc107;
}
#client button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}
#client .buttons {
    margin: 2rem 0;
    text-align: center; 
}
#client button:first-child{
    background-color: var(--main-color);
    position: relative;
    margin-right: .5rem;
}
#client button:first-child::after{
    content: "";
    width: 160%;
    height: 160%;
    position: absolute;
    top: -4px;
    left: -4px;
    border: var(--main-color) 1px solid;
    border-radius: 50%;
    background-color: white;
    z-index: -1;
}
#client button:last-child{
    position: relative;
    
}
#client button:last-child .layer {
    width: 160%;
    height: 160%;
    position: absolute;
    top: -3px;
    left: -3px;
    border: var(--main-color) 1px solid;
    border-radius: 50%;
    background-color: white;
    z-index: -1;
    opacity: 0;
    transition: all .3s ease-in-out;
}
#client button:last-child:hover .layer{
    opacity: 1;
}
@media (max-width: 992px){
    #client .row {
        flex-wrap: wrap;
    }
    #client .content {
        width: 100%;
        margin-bottom: 1rem;
    }
}
/* end client speak */
/* start contact */
#contact {
    padding: var(--section-padding) 0;
    background-color:#f8f9fa;
}
#contact .row {
    display: flex;
    justify-content: space-evenly;
}
#contact .row .info {
    min-width: 25%;
    padding: 0 .8rem 0 .8rem;
}
#contact .row h3 {
    font-size: 1.3125rem;
    color: #252b33;
    font-weight: 500;
    margin-bottom: 1rem;
}
#contact .row .info>p {
    color: #4c4d4d;
    line-height: 1.8;
    margin-bottom: 1.5rem;
}
#contact .row div p {
    color: #4c4d4d;
    margin-bottom: .5rem;
}
#contact .row div p i{
    color: var(--main-color);
    margin-right: .5rem;
}
#contact .row .info div:last-of-type {
    margin-bottom: 1.5rem;
}
#contact .row .note {
    width: 70%;
    padding: 0 .8rem;
    text-align: center;
}
#contact .row .note input,
#contact textarea{
    width: 100%;
    height: 40px;
    padding: 12px 6px;
    border-radius: 4px;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    border: 1px solid #ccc;
}
#contact .row .note input{
    width: calc(( 100% - 29px ) / 2);
}
#contact .row .note input:first-of-type{
    margin-right: 24px;
}
#contact textarea {
    height: 140px;
}
#contact button {
    background-color: var(--main-color);
    border: none;
    border-radius: 50rem;
    margin-right: 10px;
    color: white;
    height: 50px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    padding: 0.8rem 2.6rem;
    font-weight: 500;
    font-size: 1rem;
}
#contact button:hover{
    background-color: #078f68;    
}
@media (max-width: 992px){
    #contact .row .note input {
        width: 100%;
    }
}
@media (max-width: 768px){
    #contact .row{
        flex-direction: column-reverse;
    }
    #contact .row .info{
        width: 100%;
        text-align: center;
    }
    #contact .row .note{
        width: 100%;
        margin-bottom: 2rem;
    }
}
/* end contact */
/* start footer */
footer {
    padding: var(--section-padding) 0;
}
footer .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer .row p a {
    color: var(--main-color);
    font-weight: 500;
}
footer .row ul {
    display: flex;
}
footer .row ul a {
    transition: all .3s ease-in-out;
    color: #252b33;
}
footer .row ul li:first-of-type a {
    padding-right: 1rem;
}
footer .row ul li:last-of-type a {
    padding-left: 1rem;
    position: relative;
}
footer .row ul li:last-of-type a::before {
    content: "";
    width: 1px;
    height: 1rem;
    position: absolute;
    left: 0;
    top: 4px;
    background-color: #aaadaf;
}
footer .row ul a:hover {
    color: var(--main-color);
}
@media (max-width: 992px){
    footer .row .column:first-child {
        width: 100%;
        text-align: center;
    }
    footer .row .column:last-child {
        margin: 0 auto;
    }
}
/* end footer */